.goods {
	&__title {
		padding-bottom: 24px;
		font-size: 32px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid $light-gray;

		@include tablet {
			padding-bottom: 16px;
			font-size: 24px;
		}

		@include mobile {
			padding-bottom: 9px;
			font-size: 18px;
		}
	}
	&__list {
		padding-top: 40px;
		display: grid;
		gap: 40px 20px;
		grid-template-columns: repeat(auto-fill, 280px);
		justify-content: space-evenly;

		@include tablet {
			row-gap: 24px;
			padding-top: 24px;
			grid-template-columns: repeat(auto-fill, 140px);
		}

		@include mobile {
			gap: 16px 10px;
			padding-top: 16px;
		}
	}
}
